In [5]:
import pandas as pd

In [6]:
data0 = pd.read_csv('../../data/real-world/allure/converted/study0.csv')

In [7]:
data0.head()

,Gender,user,conversation.conversation.text,conversation.conversation.sender,conversation.conversation.type,conversation.conversation.chosenReply,conversation.lastUpdate,conversation.session_id,conversation.params.connected,conversation.params.disabledInput,...,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159
0,Prefer not to say,1013@ALLURE.com,"Hello, welcome to ALLURE! I'm Ally and I want ...",response,buttons,NaN,1.652710e+12,10988281524e43ff81cb76d3022cffe2,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Today we'll learn the different moves you need...,response,buttons,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Would you like to hear more about the white c...,response,buttons,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Level 1,client,text,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
users = [u for u in data0['user'] if type(u)==str]
print(users)

['1013@ALLURE.com', '1001@allure.com', '1009@allure.com', '1014@allure.com', '1002@allure.com', '1052@allure.com', '1003@allure.com', '1004@allure.com', '1053@allure.com', '1007@allure.com']

In [9]:
gender = [u for u in data0['Gender'] if type(u)==str]
print(gender)

['Prefer not to say', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male']

In [10]:
idx = []
for u in data0['user']:
    if type(u)==str:
        idx.append(list(data0['user']).index(u))
        
print(idx)

[0, 184, 399, 704, 1283, 1959, 2174, 2580, 2909, 3261]

In [11]:
len(data0)

4042

In [16]:
UB = []
text = []
user_gender = []
temp_no = 0
c_num = []

for i in range(len(data0)):
    if i in idx:
        if data0['Gender'][i] == "Prefer not to say":
            temp_gen = 2
        elif data0['Gender'][i] == "Female":
            temp_gen = 1
        elif data0['Gender'][i] == "Male":
            temp_gen = 0         
        temp_no = temp_no + 1
    if data0['conversation.conversation.sender'][i] == "response":
        if data0['conversation.conversation.text'][i] != "text":
            text.append(data0['conversation.conversation.text'][i])
            user_gender.append(temp_gen)
            UB.append(0)
            c_num.append(temp_no)
    elif data0['conversation.conversation.sender'][i] == "client":
        if data0['conversation.conversation.text'][i] != "text":
            user_gender.append(temp_gen)
            UB.append(1)
            text.append(data0['conversation.conversation.text'][i])
            c_num.append(temp_no)

In [33]:
df = pd.DataFrame({'C_num': c_num, 'UB': UB, 'User_gender': user_gender, 'Text': text})
df.to_csv('../../data/real-world/allure/final/study0.csv', index=None)

In [65]:
data_final = pd.read_csv('../../data/real-world/allure/final/final.csv')
data_final.sample(n=10, random_state=1)

,C_num,UB,User_gender,Text
2229,15,0,2,To pair the green stickers perform the followi...
1028,6,0,1,Watch the cube to see the moves being performed.
558,4,0,1,Choose another level or repeat this one:
1438,8,1,1,"Hey boy, level 2"
428,4,1,1,"Hey boy, solve"
1466,9,0,1,"Hello, welcome to ALLURE! I'm Ally and I want ..."
975,5,0,2,Watch the cube to see the moves being performed.
2154,13,0,2,NaN
984,5,0,2,Level: 7
2355,16,0,1,Choose another scenario or repeat this one:

In [66]:
texts = []
for each in data_final['Text']:
    texts.append(str(each))
data_final['Text'] = texts

compared = data_final.groupby((data_final['UB'] != data_final['UB'].shift()).cumsum())
combined = compared.agg({'C_num': 'first', 'UB': 'first', 'User_gender': 'first', 'Text': ' '.join}).reset_index(drop=True)

In [67]:
combined.to_csv('../../data/real-world/allure/final/final_expt.csv', index=False)

## University Chatbot

In [226]:
import pandas as pd

In [227]:
data = pd.read_csv('../../data/real-world/unibot/converted/conv.csv')

In [233]:
cols = data.columns
cols

Index(['input_time|conversation_id|count|intent|user_input| entity_name|entity_value|action|bot_reply|',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

In [235]:
data['new'] = data[cols[0]]
cols = cols[1:]
for each in cols:
    data['new'] += data[each]

In [236]:
data

,input_time|conversation_id|count|intent|user_input| entity_name|entity_value|action|bot_reply|,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,new
0,2022-08-10 09:04:17.675207|a6cc2ffec2094918869...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-10 09:04:17.675207|a6cc2ffec2094918869...,Columbia. I can help you with some basic ques...,locations,student living,school services,etc. How can I help you?,NaN,NaN
2,2022-08-10 09:04:17.675207|a6cc2ffec2094918869...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-10 09:04:17.675207|a6cc2ffec2094918869...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-08-10 09:04:17.675207|a6cc2ffec2094918869...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1505,2022-11-11 12:08:27.340686|cf47b4f2fe144330939...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,2022-11-11 12:08:27.340710|cf47b4f2fe144330939...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,2022-11-11 12:08:27.340742|cf47b4f2fe144330939...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1509,【Conversation ended】,NaN,NaN,NaN,NaN,NaN,NaN,NaN